{% extends 'base.html.twig' %}

{% block title %}Edit Site{% endblock %}

{% block body %}
    <section id="edition">
        <div>
            <h1>Editer un Site</h1>
        </div>
    </section>

<div class="container">
    {# {% for image in site.media %}
        <div>
            <img src="{{ asset('/uploads/' ~ image )}}" alt="media" width="250px" heigth="260">
        </div>
    {% endfor %} #}
    
        {{ include('site/_form.html.twig', {'button_label': 'Update'}) }}
    
            <div class="container">
                <div class="col-6"><a href="{{ path('site_index') }}">back to list</a></div>
                <div class="col-6">{{ include('site/_delete_form.html.twig') }}</div>
            </div>
        
</div>

{% endblock %}
