{% extends 'base.html.twig' %}

{% block title %}
  Site index
{% endblock %}

{% block body %}
  <section id="trouveSpot">
    <div>
      <h1>Recherche un Site</h1>
    </div>
  </section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 titre">
        <h4>Carte des Sites de France</h4>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 titre2">
        {# <img src="{{asset("\img\mountaineer.jpg")}}" alt="deco"> #}
        <img src="{{ asset('img/mountaineer.jpg') }}" alt="image" />
      </div>
    </div>
  </div>
  <section id="map">
    <div class="container">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      
      </div>
      <!-- Ici s'affichera la carte -->
      <div id="macarte" class="col-xs-9 col-sm-9 col-md-9 col-lg-9"></div>
    </div>
  </section>
  {# {% if app.user %} #}
  <a href="{{ path('site_new') }}" class="bouton2">Ajouter un nouveau site</a>
  {# {% endif %} #}
{% endblock %}

{% block javascripts %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    var carte = L.map('macarte').setView([48.852969, 2.349903], 5)
    // on charge les tuiles
    
    L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
      // Il est toujours bien de laisser le lien vers la source des données
      attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
      minZoom: 1,
      maxZoom: 20
    }).addTo(carte)
    
    var icone = L.icon({
      iconUrl: '../img/pointeur-de-carte.png',
      iconSize: [50, 50],
      iconAnchor: [25, 50],
      popupAnchor: [-2, -44]
    })
    function openGPS(latitude, longitude) {
          if (confirm('Do you want to open this location in Google Maps or Apple Maps?')) {
            if (navigator.userAgent.indexOf('iPhone') != -1 || navigator.userAgent.indexOf('iPad') != -1 || navigator.userAgent.indexOf('iPod') != -1) {
              window.open('maps://maps.apple.com/?q=' + latitude + ',' + longitude)
            } else {
              window.open('https://maps.google.com/?q=' + latitude + ',' + longitude)
            }
          }
        }
    // Requête
    $.ajax({
      url: '/api/sites'
    }).done(function (response) {
      // var datas = JSON.parse(response);
      // console.log(response['hydra:member'])
      var sites = response['hydra:member']
      sites.forEach((site) => {
        // Nous définissons l'icône à utiliser pour le marqueur, sa taille affichée (iconSize), sa position (iconAnchor) et le décalage de son ancrage (popupAnchor)
        // on crée un marqueur et on lui donne un popup
        var latLng = L.latLng(site.latitude, site.longitude)
        var marqueur = L.marker(latLng, { icon: icone }).addTo(carte)
        // console.log('marqueur', marqueur)
        console.log(site)
        marqueur.bindPopup('<h5 class="nomSiteCarte">' + site.nom + '</h5><p class="nombredevoie">' + site.nombredeVoie + '</p><a href="/site/' + site.id + '" class="visiteSite" onclick="openSecondMap(\'' + site.latitude + "','" + site.longitude + '\')">Visite du site </a><br /><a href="#" class="opengps" onclick="openGPS(\'' + site.latitude + "','" + site.longitude + '\')">Ouvrir dans le GPS</a>')
        // console.log(window)
        
        
        })
    })

    // create the second map
   function openSecondMap(latitude, longitude) {
      var secondMap = L.map('macarte2').setView([latitude, longitude], 13);
      L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
        attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
        minZoom: 1,
        maxZoom: 20
      }).addTo(secondMap);
    }

    $('.visiteSite').click(function (event) {
      event.preventDefault();
      openSecondMap(site.latitude, site.longitude);
    });

  </script>
{% endblock %}
