        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            text-decoration: none;
            list-style-type: none;
            font-family: "AveriaLibre-Light", cursive;
        }

        html {
            scroll-behavior: smooth;
        }

        body {
            margin: 0;
            padding: 0;
            /* background-color: #317133; */
            background-color: rgba(49, 113, 51, 0.719);
            overflow: scroll;
        }
        #macarte {
            height: 850px;
            margin: 11px 15px;
            padding: 20px;
        }

        section {
            padding: 20px 0px;
        }

        h1 {
            color: #fff;
            margin: 20px 20px;
            text-align: center;
        }

        h2 {
            color: #fff;
            margin: 20px;
            text-align: center;
        }

        p {
            padding: 2px 10px;
        }

        /* @import "~bootstrap/scss/bootstrap"; */
        /*---- philosophie mobile first 1ère Page------------------------------------*/

        /* ----- élément de section de navigation  --------------------------------  */

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            /* 20 */
            position: absolute;
            width: 100%;
            font-size: 20px;
            height: 70px;
            margin-top: 8px;
        }

        .logo {
            width: auto;
            height: 5.5em;
            /* ici tu aplique la taille voulue */
            font-size: 0.5em;
            /* tu change la taille de ton atl */
            margin-top: 15px;
            /*ici ton margin pour le centrer*/
            margin-left: 9px;
            /* tout comme celui -ci */
        }

        nav * {
            color: #ffff;
            margin-right: 10px;
        }

        nav input[type="checkbox"], .nav-list {
            display: none;
            /* fait dispraitre la case à cocher    */
            /* height: 35px; */
        }

        nav input[type="checkbox"]:checked+.nav-list {
            /* fait appraitre le menu quand la case est cliqué   */
            display: flex;
            flex-direction: column;
            position: absolute;
            margin-top: 430px;
            background: rgba(20, 76, 116, 0.37);
            width: 100%;
            /* height: 35px; */
            left: 0;
            padding-left: 20px;
            z-index: 1000;
        }

        nav .nav-list li {
            margin: 17px 11px 5px 14px;
            text-align: left;
            /* text-align: center; */
            padding: 2px;
            font-size: 20px;
        }

        nav .nav-list li a:link {
            text-decoration: none;
        }

        /* ---------------------------------------Philosophie mobile first---------------------------------------------------- */

        /*--------------------------  -1ère Page- mobile home section + consours photo----------------------------------------------------*/

        .onglets>a {
            text-decoration: none;
        }

        .h1, h1 {
            font-size: 1.5rem;
        }

        .home-titre {
            height: 60vh;
            width: 100%;
            background-image: url("../img/climbing-2.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-top: -15px;
        }

        .home-titre div {
            position: relative;
            margin-top: 100px;
            top: 20%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            text-align: center;
            background: rgba(66, 99, 119, 0.38);
            border-radius: 10px;
            padding: 4px;
            width: 73%;
            min-width: 254px;
        }

        table .table {
            width: 50%;
        }

        .accueil_concours {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .concours>a {
            /* color: rgba(143, 108, 224, 0.561); */
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0px 20px 20px 20px;
            padding: 10px 10px;
            text-align: center;
        }

        #concours article {
            padding: 4px;
            display: flex;
            flex-wrap: wrap;
        }

        #concours {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }

        .card {
            padding: 8px;
            display: flex;
            align-items: center;
            margin-left: 30px;
        }

        .text-div {
            width: 95%;
            padding: 10px;
        }

        .container_presentation {
            background: #859daf;
        }

        figcaption {
            color: #fff;
        }

        .figure-caption {
            color: black;
        }

        /* css du carroussel */

        #carouselExemple {
            width: 70%;
            margin: 0 auto;
            margin-top: 120px;
            border-radius: 10px 100px / 120px;
            box-shadow: 1px 1px 12px #0000;
        }

        .carousel-item img {
            width: 100%;
            height: 60vh;
        }

        .img-container::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            box-shadow: 0px 0px 30px 20px black inset;
        }

        /* rajoute de css sur la class jumbotron pour avoir toutes les images et text de chaque jumbotron equilibré proportionnellement */

        .jumbotron {
            background: url('backgroundimage.jpg') no-repeat center center fixed;
            padding-top: 20%;
            padding-bottom: 20%;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
            margin-top: -25px;
            margin-bottom: -20px;
        }

        #gallery-section {
            margin-bottom: -360px;
        }

        /*-------- philosophie mobile first - 2ième Page - Rechercher un site----------------------------------------------*/

        /* ------------------------------------------------------------------------------------------------------------------------ */

        .tableA {
            width: 100% !important;
            color: mediumblue;
            display: block;
            overflow: scroll;
        }

        #trouveSpot div {
            position: absolute;
            top: 25%;
            left: 48%;
            transform: translate(-50%, -50%);
            color: white;
            text-align: center;
            background: rgba(66, 99, 119, 0.38);
            border-radius: 10px;
            padding: 4px;
            margin-top: 90px;
            height: 33%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #trouveSpot {
            height: 445px;
            width: 100%;
            background-image: url("../img/escalade2.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-top: -16px;
        }

        /* titre haut de page  */

        .lieu fieldset {
            /* champ du formulaire  */
            width: 100%;
            border: none;
            font-size: 15px;
            /* margin-top: 10px; */
            padding: 10px;
        }

        #form .lieu {
            min-height: 100vh;
            width: 100%;
        }

        /* .container2 {
            display: grid;
            grid-template-columns: 1fr;
            text-align: left;
            width: 10%;
        } */

        div #map {
            width: auto;
            height: 600px;
            bottom: -50px;
            border: 2px solid black;
        }

        #map {
            bottom: -50px;
            /* border: 2px solid black; */
            margin-bottom: -350px;
        }

        #période {
            /* partie de la période   */
            display: grid;
            grid-template-columns: 100px 100px 100px;
        }

        .colonne1 {
            grid-column: 1;
            /* placement en colonne 1 */
        }

        .colonne2 {
            grid-column: 2;
            /* placement en colonne 2 */
        }

        .colonne3 {
            grid-column: 3;
            /* placement en colonne 2 */
        }

        h4 {
            padding: 20px;
            background-color: #3171337e;
            width: 90%;
            margin: 50px 10px;
            border-radius: 15px;
            color: white;
            text-align: center;
        }

        .titre2 img {
            /* border: 2px solid black; */
            width: 90%;
            height: 150px;
            margin: 30px 10px;
            border-radius: 50px;
            padding: 20px;
            min-width: 80px;
        }

        .col-6 .titre {
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
        }

        .row {
            display: flex;
            flex-direction: row;
        }

        /* -------------- 3ième page - Ajout Site ---------------------------------------*/

        /* --------------------------------------------------------------------------------------------------- */

        .vich-image {
            padding: 7px;
            margin-left: -7px;
        }

        .expo-checkbox {
            display: grid;
            grid-template-columns: 1fr 3fr 1fr 3fr;
        }

        .labbel1 {
            background-color: #859daf;
            width: 67%;
            max-width: 150px;
            text-align: center;
            border-radius: 5px;
            padding: 5px;
            /* padding: 10px; */
            height: 7vh;
            display: flex;
            text-align: center;
            justify-content: center;
            color: black;
            margin-top: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 2%;
        }

        .labbel2 {
            background-color: #859daf;
            width: 30%;
            text-align: center;
            border-radius: 5px;
            margin-left: 0px ! important;
            padding: 5px;
            margin-top: 5px;
        }

        .form-check-label {
            padding: 3px;
            margin-right: 5px;
            margin-top: -5px;
        }

        [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
            margin-top: 14px;
        }

        .col-form-label {
            background-color: #859daf;
            width: 52%;
            text-align: center;
            border-radius: 5px;
            margin-left: 0px ! important;
            padding: 5px;
            margin-top: 5px;
            height: 45%;
            margin-bottom: 3px;
        }

        .nom {
            width: 90%;
        }

        .expo-checkbox6 {
            display: grid;
            grid-template-columns: 1fr 3fr 1fr 3fr;
        }

        .expo-checkbox7 {
            display: grid;
            grid-template-columns: 1fr 3fr 1fr 3fr;
        }

        #AjoutSite {
            height: 60vh;
            width: 100%;
        }

        .custom-file-label {
            width: 95%;
        }

        .container_site {
            margin-bottom: -300px;
            display: flex;
            flex-direction: row;
        }

        .row_as {
            padding: 40px;
            margin-top: 100px;
            margin-left: 50px;
        }

        .row_as img {
            width: 60vh;
            height: 50vh;
            border: 2px solid black;
        }

        .card {
            width: 60vh;
            height: 50vh;
        }

        #AjoutSite div {
            position: absolute;
            top: 33%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            text-align: center;
            background: rgba(66, 99, 119, 0.38);
            border-radius: 10px;
            padding: 4px;
        }

        #AjoutSite {
            height: 51vh;
            width: 100%;
            background-image: url("../img/stunning-shot-of-young-man-climbing-up-cliff-on-cold-and-foggy-day.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-top: -16px;
        }

        #AjoutSite div h2 {
            color: rgba(9, 29, 209, 0.705);
        }

        .container3 h2 {
            background-color: rgb(182, 180, 180);
            border: 1px solid rgb(223, 222, 222);
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-top: 30px;
            padding: 10px;
            border-radius: 20px;
            width: 70%;
        }

        .ajoutesite {
            /* mise en place du formulaire  */
            display: grid;
            grid-gap: 4px;
            gap: 4px;
            margin-top: 90px;
        }

        form .exposition {
            display: grid;
            justify-content: center;
            grid-template-columns: 8px 290px;
            width: 97%;
        }

        form #exposition {
            /* partie formulaire sur l'exposition  */
            display: grid;
            justify-content: center;
            align-items: flex-start;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: -10px;
            margin-left: 100px;
            width: 60%;
        }

        form .nomduSite {
            display: flex;
            justify-content: space-around;
            margin-left: -30px;
        }

        form .ville {
            display: flex;
            justify-content: space-around;
            margin-left: -10px;
        }

        form .village {
            display: flex;
            justify-content: space-around;
            margin-left: -10px;
        }

        #email {
            margin: 3px;
            padding: 3px;
        }

        #submit {
            margin: 3px;
            padding: 3px;
        }

        #site {
            width: 80%;
            margin: 20px 20px;
        }

        #form_new_site {
            /* text-align: center; */
            display: block;
        }

        .exposition {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            border: 1px solid black;
            grid-template-columns: 1fr 3fr 1fr 3fr;
        }

        .exposition .col-6 .premiere {
            margin-right: 150px;
            padding: 30px;
        }

        .col-form-label {
            margin-left: 56px;
        }

        .boutonR2>a {
            background-color: #144c74b7;
            width: 26%;
            border-radius: 5px;
            text-align: center;
            color: white !important;
            height: 38px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 129px;
            padding: 38px;
            font-weight: 500;
            font-size: 102%;
            text-decoration: none;
            margin-top: 266px;
        }

        /* -----------------Page template de Sites ---------------------------------------------- */

        /* --------------------------------------------------------------------------------------- */

        .bouton {
            margin-top: 400px;
            margin-left: 30px;
        }

        .bouton2 {
            /* margin-top: 83193px; */
            margin-left: 30px;
            background: #3171337e;
            bottom: -879px;
            margin-bottom: -90px;
            position: absolute;
            color: white;
            border: 1px solid black;
            border-radius: 8px;
            padding: 3px;
        }

        element.style {
            width: 260px;
            height: 276px;
            backface-visibility: hidden;
            transform: translate3d(-81px, -163px, 0px);
            opacity: 1;
        }

        .titreTemplate {
            height: 22%;
            margin-top: 62px;
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 145px;
        }

        .difficulté {
            display: flex;
            text-align: center;
        }

        .inline {
            display: flex;
            flex-direction: row;
        }

        .inlineA {
            border: 2px solid black;
            border-radius: 38px;
            background-color: #859daf;
            height: 87%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 16%;
            min-width: 135px;
        }

        .diff1 {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: -13px;
        }

        .descriptionSite {
            width: 41%;
            min-width: 240px;
            padding: 20px;
            background-color: #3171337e;
            margin: 0px 0px;
            border-radius: 15px;
            color: black;
            text-align: center;
            height: 51px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
        }

        .difficulté2 {
            margin-top: 7px;
            margin-bottom: 8px;
        }

        .siteTemplate div {
            position: absolute;
            top: 25%;
            left: 40%;
            transform: translate(-50%, -50%);
            color: white;
            text-align: center;
            background: rgba(66, 99, 119, 0.38);
            border-radius: 10px;
            padding: 4px;
        }

        .siteTemplate {
            height: 60vh;
            width: 100%;
            background-image: url("../img/climbA.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-top: -20px;
        }

        .panelImg>img {
            height: 265px;
            width: 60%;
        }

        .clear {
            background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.alamyimages.fr%2Fplage-de-rena-majore-par-temps-clair-en-sardaigne-image368088456.html&psig=AOvVaw1rIcy6RF3pwK30dP7jiesy&ust=1632293087084000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCJD72N-7j_MCFQAAAAAdAAAAABAD);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        .clouds {
            background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Factu.fr%2Foccitanie%2Fnimes_30189%2Fmeteo-temps-nuageux-avec-quelques-gouttes_23140441.html&psig=AOvVaw3qsdAAmv_ptpI6_vlgOEgL&ust=1632466734824000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCOj9-s_ClPMCFQAAAAAdAAAAABAN);
            /* background-image: url(https://www.auxoisnature.com/wp-content/uploads/2012/07/nuage.jpeg); */
            /* background-image:  url("https://www.alpiniste.fr/out/pictures/wysiwigpro/kalkulatoren/img-fr/vtt-single-track.jpg"); */
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        .rain {
            background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiMuiAc4rCaWcGr82XLGczFbZKYI__KPUdl_rdHLm_5aj51sfraCbHzaSmEQiAqchKf_4&usqp=CAU);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        .snow {
            background-image: url(https://www.infoclimat.fr/photolive/photos/2014-02/470385280220141455.jpg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        #app {
            height: 52vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
        }

        #apiMeteo {
            font-family: roboto;
        }

        .wi {
            font-size: 2em;
            line-height: 2em;
            background-color: red;
        }

        h1 {
            font-size: 3em;
        }

        h2 {
            font-size: 2em;
        }

        .tooltip1 {
            display: none;
        }

        /* --------------------------Editer un topo -------------------------------------- */

        #edition div {
            position: absolute;
            top: 25%;
            left: 40%;
            transform: translate(-50%, -50%);
            color: white;
            text-align: center;
            background: rgba(66, 99, 119, 0.38);
            border-radius: 10px;
            padding: 4px;
        }

        #edition {
            height: 60vh;
            width: 100%;
            background-image: url("../img/climbA.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-top: -20px;
        }

        /* ------------------- 4ième page -Topo ------------------------------------------------*/

        /* ---------------------------------------------------------------------------------------------- */

        .tableTopos {
            width: 100% !important;
            color: mediumblue;
            display: block;
            overflow: scroll;
        }

        #topoIndex {
            height: 60vh;
            width: 100%;
        }

        #topoIndex div {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            text-align: center;
            background: rgba(66, 99, 119, 0.38);
            border-radius: 10px;
            padding: 4px;
        }

        #topoIndex {
            height: 60vh;
            width: 100%;
            background-image: url("../img/beautiful-view-of-avalanche-peak-arthur-s-pass-new-zealand.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-top: -16px;
        }

        a {
            text-decoration: none;
        }

        /** tabs **/

        .tab-container {
            width: 100%;
            position: relative;
            margin: 20px 0;
            /* border: 2px solid black; */
        }

        .tab-container .onglets {
            background-color: rgba(100, 161, 157, 0.5);
            display: flex;
            height: 34px;
            line-height: 30px;
            /* border:2px solid black; */
        }

        .onglets {
            background-color: rgba(100, 161, 157, 0.5);
            display: flex;
            height: 70px;
            line-height: 500px;
            /* border:2px solid black; */
        }

        .tab-container .onglets a {
            flex: 1;
            border: 1px solid rgba(100, 161, 157, 1);
            border-bottom: none;
            color: #317133;
            text-align: center;
        }

        .tab-container .panel {
            padding: 10px;
            background-color: #144c7448;
            position: relative;
            border: 1px solid rgba(100, 161, 157, 1);
            /* height: 100% !important; */
        }

        .tab-container .onglets a.actif {
            background-color: rgba(100, 161, 157, 1);
            color: #fff;
        }

        .tab-container .panel img {
            max-width: 94%;
            justify-content: center;
            margin: auto;
            padding: 10px;
        }

        .Ajouter_topo {
            /* border:2px solid black; */
            text-align: center;
            color: black;
            font-size: 20px;
        }

        .index_topo {
            border-bottom: 2mm ridge rgba(100, 161, 157, 1);
            display: flex;
        }

        /* ------------------------Création d'un nouveau topo---------------------------------- */

        /* ----------------------------------------------------------------------------------------- */

        #nouveau_topo {
            height: 60vh;
            width: 100%;
            /* background-image: url("../img/Rclimbing.jpg"); */
            background-image: url("https://www.alpiniste.fr/out/pictures/wysiwigpro/kalkulatoren/img-fr/vtt-single-track.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-top: -16px;
        }

        #nouveau_topo div {
            position: absolute;
            margin-top: 20px;
            top: 20%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            text-align: center;
            background: rgba(66, 99, 119, 0.38);
            border-radius: 10px;
            padding: 4px;
        }

        .container_topoNew {
            margin-top: 80px;
            margin-bottom: -330px;
        }

        .form-inline {
            background-color: transparent;
            border: none;
        }

        /* .tab-container .onglets a.actif {
            text-decoration: none;
            margin-top: -9px;
            height: 41px;
            display: flex;
            justify-content: center;
            align-items: center;
        } */

        /* ------------------------- 5ième page -Converter --------------------------------------*/

        /* ---------------------------------------------------------------------------------------------------- */

        .row1 {
            margin-top: 38px;
        }

        .convertisseur {
            margin-top: 103px !important;
            margin-left: 47px;
        }

        .right>img {
            width: 95%;
        }

        .right {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        #converter {
            height: 60vh;
            width: 100%;
            /* background-image: url("../img/Rclimbing.jpg"); */
            background-image: url("https://www.alpiniste.fr/out/pictures/wysiwigpro/kalkulatoren/img-fr/vtt-single-track.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-top: -16px;
        }

        #converter div {
            position: absolute;
            margin-top: 20px;
            top: 20%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            text-align: center;
            background: rgba(66, 99, 119, 0.38);
            border-radius: 10px;
            padding: 4px;
        }

        .color--highlight {
            color: var(--color-highlight);
            font-weight: 700;
        }

        .container_converter {
            background-color: #859daf;
            min-height: 100vh;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top: 0px;
        }

        .title {
            margin-bottom: 1em;
        }

        .section--converter {
            display: grid;
            grid-template-columns: 1fr 40px 1fr;
            grid-gap: 2em;
        }

        .col {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column
        }

        .col--center {
            align-items: center;
            font-size: 4em;
            font-weight: 700;
            color: var(--color-highlight);
        }

        .input__container--margin {
            margin-bottom: 1em;
        }

        .input__label {
            display: inline-block;
            text-align: right;
            border-right: 1em;
            width: 70px;
        }

        .input__select {
            position: relative;
            width: 150px;
            vertical-align: middle;
            outline: none;
            -webkit-appearance: none;
            appearance: none;
            border-radius: 2px;
            padding: 4px 8px;
            background: url('./images/menu-down.svg') 96% / 15% no-repeat;
        }

        @media screen and (max-width: 540px) {
            .title {
                text-align: center;
            }
            .section--converter {
                grid-template-columns: 1fr;
            }
            .col--center {
                height: 20px;
            }
        }

        /* ------------ 6ième page -Contact --------------------------------------------------------------*/

        /* ------------------------------------------------------------------------------------------------------------ */

        #form {
            color: lightcoral;
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 30px 30px;
        }

        #contact_message {
            width: 50%;
        }

        #contact div {
            position: absolute;
            top: 30%;
            left: 40%;
            transform: translate(-50%, -50%);
            color: white;
            text-align: center;
            background: rgba(66, 99, 119, 0.38);
            border-radius: 10px;
            padding: 4px;
        }

        #contact {
            height: 60vh;
            width: 100%;
            background-image: url("../img/silhouette-of-group-people-have-fun-at-the-top-of-the-mountain-near-the-tent-during-the-sunset.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-top: -16px;
        }

        .contact1 {
            /* background-color: #2e6ea6; */
            display: flex;
            flex-direction: row;
            padding: 10px;
        }

        textarea.form-control {
            height: auto;
            /* padding: 10px; */
            margin-left: 10px;
            width: 65% !important;
        }

        /* --------------- 7ième page -Security/Login --------------------------------------*/

        /* ------------------------------------------------------------------------------------------------------ */

        #section_login {
            height: 41vh;
            width: 100%;
            /* background-image: url("../img/Rclimbing.jpg"); */
            background-image: url("../img/saxon-switzerland-539418__340.jpg");
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            background-size: cover;
            margin-top: -16px;
        }

        #section_login div {
            position: absolute;
            margin-top: 20px;
            top: 20%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            text-align: center;
            background: rgba(66, 99, 119, 0.38);
            border-radius: 10px;
            padding: 4px;
        }

        .section_login>a>p {
            background-color: #144c74b7;
            width: 26%;
            border-radius: 5px;
            text-align: center;
            color: white;
            height: 38px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 22px;
            padding: 29px;
            font-weight: 500;
            font-size: 1.2em;
        }

        .btn-primary {
            background-color: #144c74b7;
            border: none;
            height: 43px;
            text-align: center;
        }

        .login {
            /* background-color: lightcoral;
            border: 2px solid black; */
            margin-bottom: -504px;
        }

        /* -----------Formulaire d'enregistrement----------------------- */

        /* ---------------------------------------------------------------------------- */

        .boutonR>a {
            background-color: #144c74b7;
            width: 26%;
            border-radius: 5px;
            text-align: center;
            color: white !important;
            height: 38px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 15px;
            padding: 38px;
            font-weight: 500;
            font-size: 102%;
            text-decoration: none;
        }

        /* -------------- Page 8 - Entrainement index----------------------- */

        /* --------------------------------------------------------------------------------- */

        #section_entrainement div {
            position: absolute;
            top: 30%;
            left: 40%;
            transform: translate(-50%, -50%);
            color: white;
            text-align: center;
            background: rgba(66, 99, 119, 0.38);
            border-radius: 10px;
            padding: 4px;
        }

        #section_entrainement {
            height: 60vh;
            width: 100%;
            background-image: url("../img/silhouette-of-group-people-have-fun-at-the-top-of-the-mountain-near-the-tent-during-the-sunset.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-top: -16px;
        }

        /* ----------- Page 9 -Ajouter un Entrainement ----------------------- */

        /* --------------------------------------------------------------------------------- */

        #section_entrainement_ajout div {
            position: absolute;
            top: 30%;
            left: 40%;
            transform: translate(-50%, -50%);
            color: white;
            text-align: center;
            background: rgba(66, 99, 119, 0.38);
            border-radius: 10px;
            padding: 4px;
        }

        #section_entrainement_ajout {
            height: 60vh;
            width: 100%;
            background-image: url("../img/silhouette-of-group-people-have-fun-at-the-top-of-the-mountain-near-the-tent-during-the-sunset.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-top: -20px;
        }

        .row_entrainement {
            margin-top: 70px;
            width: 120vh;
        }

        /* ------------- Page 10 - User Registration ----------------------- */

        /* --------------------------------------------------------------------------------- */

        .form-group {
            margin-bottom: 1rem;
            width: 75%;
            margin-left: 50px;
        }

        /*--------------philosophie mobile first------------------------*/

        /* ----------mobile gallery-section --------------*/

        #gallery-section .container {
            column-count: 1;
        }

        #gallery-section .box {
            min-height: 100px;
            min-width: 100px;
        }

        #gallery-section .box img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        /* ------Users : registration form-------------- */

        #form {
            color: lightcoral;
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 30px 30px;
        }

        #contact_message {
            width: 50%;
        }

        #registration div {
            position: absolute;
            top: 30%;
            left: 40%;
            transform: translate(-50%, -50%);
            color: white;
            text-align: center;
            background: rgba(66, 99, 119, 0.38);
            border-radius: 10px;
            padding: 4px;
        }

        #registration {
            height: 60vh;
            width: 100%;
            background-image: url("../img/silhouette-of-group-people-have-fun-at-the-top-of-the-mountain-near-the-tent-during-the-sunset.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        /* -----------Admin Section -----------------------*/

        #admin div {
            position: absolute;
            top: 30%;
            left: 40%;
            transform: translate(-50%, -50%);
            color: white;
            text-align: center;
            background: rgba(66, 99, 119, 0.38);
            border-radius: 10px;
            padding: 4px;
        }

        #admin {
            height: 60vh;
            width: 100%;
            background-image: url("../img/silhouette-of-group-people-have-fun-at-the-top-of-the-mountain-near-the-tent-during-the-sunset.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        /*--------section Footer ---------- */

        footer {
            text-align: center;
            color: white;
            background: #426377;
            padding: 1.1rem;
            margin-bottom: 0;
            margin-top: 90vh;
            /* width: 100vh; */
        }

        /*-------------------------------------------------------------------------*/

        /*-----------------------------RESPONSIVE----------------------------------*/

        /*-------------------------------------------------------------------------*/

        @media screen and (min-width: 768px) {
            .boutonR>a {
                background-color: #144c74b7;
                width: 26%;
                border-radius: 5px;
                text-align: center;
                color: white !important;
                height: 38px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 17%;
                padding: 38px;
                font-weight: 500;
                font-size: 102%;
                text-decoration: none;
                min-width: 108px;
            }
        }

        .h1, h1 {
            font-size: 2.5rem;
        }

        /* lorsqu'on va arriver à une largeur min de 768px reférence pour les tablette, je vais modifier des choses */

        /* -------tablette welcome section------- */

        @media screen and (min-width: 768px) {
            #home-section3 {
                background-position-y: top;
            }
            h2 {
                font-size: 2rem;
                margin-bottom: 30px;
            }
            /* ----------tablette home section------------------------ */
            /* -------tablette gallery section------- */
            #gallery-section .container {
                column-count: 2;
                gap: 0;
            }
            /* -------tablette contact section------- */
            #contact-section .form-div {
                margin: 0px 80px;
            }
        }

        /*--------- laptop------------ */

        @media screen and (min-width: 1024px) {
            nav {
                position: fixed;
                z-index: 1000;
                background: rgba(20, 76, 116, 0.37);
                text-align: center;
                margin-top: 0px;
            }
            nav * {
                font-size: 1rem;
                margin: 5px 20px 5px 20px;
                padding: 4px;
            }
            nav label {
                display: none;
            }
            nav .nav-list {
                display: flex;
                width: 87%;
                justify-content: space-evenly;
                margin-left: -20px;
                margin-right: 20px;
            }
            nav .nav-list a {
                transition: 1s;
                text-decoration: none;
            }
            nav .nav-list a:hover {
                margin-left: 8px;
                transition: 1s;
            }
            nav .nav-list li {
                margin: 17px 11px 5px 14px;
                text-align: center;
                padding: 2px;
                font-size: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                margin-right: -5px;
            }
            /* -------Laptop Titre Section--- */
            .home-titre div {
                position: relative;
                margin-top: 134px;
                top: 20%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                text-align: center;
                background: rgba(66, 99, 119, 0.38);
                border-radius: 10px;
                padding: 4px;
                width: 55%;
                min-width: 254px;
            }
            .logo {
                width: auto;
                height: 5.5em;
                font-size: 0.5em;
                margin-top: 15px;
                margin-left: -20px;
            }
            /*------- laptop gallery section */
            #gallery-section .container {
                padding: 15px;
                display: grid;
                grid-template: "1fr 1fr 1fr 1fr 1fr"33.33vh "1fr 1fr 1fr 1fr 1fr"33.33vh "1fr 1fr 1fr 1fr 1fr"33.33vh;
            }
            #gallery-section .box {
                transition: 1s;
            }
            #gallery-section .box:hover {
                transform: scale(1.05);
                transition: 1s;
                color: #2e6ea6;
            }
            .box_b, .box_f, .box_h {
                grid-column: span 2;
            }
            .box_a, .box_g {
                grid-row: span 2;
            }
            /*------- laptop review section */
        }

        /* iphone eg (portrait) ---and (max-width: 374px)-------- */

        @media screen and (min-width: 320px) and (max-height: 480px) and (orientation: portrait) {
            .h1, h1 {
                font-size: 2.7rem;
            }
            #trouveSpot div {
                position: absolute;
                top: 25%;
                left: 48%;
                transform: translate(-50%, -50%);
                color: white;
                text-align: center;
                background: rgba(66, 99, 119, 0.38);
                border-radius: 10px;
                padding: 4px;
                margin-top: 90px;
                height: 41%;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 53vh;
            }
            #macarte {
                height: 806px;
                margin: 24px 18px;
                padding: 20px;
                /* max-height: max-content; */
            }
            .row {
                display: flex;
                flex-direction: row;
                height: 351px;
                margin-top: -19px;
            }
            .col-xs-12.col-sm-12.col-md-6.col-lg-6.titre2 {
                height: 195px;
                margin-top: -46px;
            }
            .bouton2 {
                /* margin-top: 83193px; */
                margin-left: 30px;
                background: #3171337e;
                bottom: -1160px;
                margin-bottom: -90px;
                position: absolute;
                color: white;
                border: 1px solid black;
                border-radius: 8px;
                padding: 3px;
            }
            .h1, h1 {
                font-size: 2.2rem;
            }
        }

        /* iphone eg (landscape) ----and (max-width:567px)------- */

        @media screen and (min-width: 480px) and ( orientation: landscape) {
            .h1, h1 {
                font-size: 2.7rem;
            }
            #trouveSpot div {
                position: absolute;
                top: 25%;
                left: 48%;
                transform: translate(-50%, -50%);
                color: white;
                text-align: center;
                background: rgba(66, 99, 119, 0.38);
                border-radius: 10px;
                padding: 4px;
                margin-top: 90px;
                height: 41%;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 84vh;
            }
            #macarte {
                height: 806px;
                margin: 26px 38px;
                padding: 20px;
                /* max-height: max-content; */
            }
        }

        /* iphone 5 (portrait) ----and (max-width: 374px) ------- */

        ​@media screen and (min-width: 320px) and (max-width: 374px) and (orientation: portrait) {
            #macarte {
                height: 850px;
                margin: 12px 20px;
                padding: 20px;
            }
        }

        /* iphone5 landscape -------------- */

        @media screen and (min-width: 568px) and (max-height: 320px) and (orientation: landscape) {
            #trouveSpot div {
                position: absolute;
                top: 25%;
                left: 48%;
                transform: translate(-50%, -50%);
                color: white;
                text-align: center;
                background: rgba(66, 99, 119, 0.38);
                border-radius: 10px;
                padding: 4px;
                margin-top: 90px;
                height: 44%;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 87vh;
            }
            .container {
                width: 100%;
                padding-right: 15px;
                padding-left: 15px;
                margin-right: auto;
                margin-left: auto;
                height: 400px;
            }
            #macarte {
                height: 806px;
                margin: 24px 18px;
                padding: 20px;
                /* max-height: max-content; */
                margin-bottom: 150px;
                margin-top: -30px;
            }
        }

        /* Iphone 7 -portrait---------------------- */

        @media screen and (min-width: 375px) and (orientation: portrait) {
            #trouveSpot div {
                position: absolute;
                top: 25%;
                left: 48%;
                transform: translate(-50%, -50%);
                color: white;
                text-align: center;
                background: rgba(66, 99, 119, 0.38);
                border-radius: 10px;
                padding: 4px;
                margin-top: 90px;
                height: 33%;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 43vh;
            }
            #trouveSpot {
                height: 385px;
                width: 100%;
                background-image: url(../img/escalade2.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                margin-top: -16px;
            }
            .bouton2 {
                /* margin-top: 83193px; */
                margin-left: 30px;
                background: #3171337e;
                bottom: -906px;
                margin-bottom: -90px;
                position: absolute;
                color: white;
                border: 1px solid black;
                border-radius: 8px;
                padding: 3px;
                text-decoration: none !important;
            }
            a:hover {
                color: white;
                text-decoration: underline;
            }
        }

        /* Iphone 7 -Landscape---------------------- */

        @media screen and (min-width: 667px) and (max-width: 735px) and (orientation: landscape) {}

        /* Iphone 7+ -portrait---------------------- */

        @media screen and (min-width: 414px) and (max-width: 599px) and (orientation: portrait) {}

        ​
        /* Iphone7+ -landscape */

        @media screen and (min-width: 736px) and (max-height: 414px) and (orientation: landscape) {}

        ​
        /*---small tablette ------------------------------------------- */

        @media screen and (min-width: 600px) and (max-height: 800px) and (orientation: portrait) {}

        /* small tablette landscape ------------------ */

        @media screen and (min-width: 800px) and (orientation: landscape) {
            #trouveSpot div {
                position: absolute;
                top: 29%;
                left: 48%;
                transform: translate(-50%, -50%);
                color: white;
                text-align: center;
                background: rgba(66, 99, 119, 0.38);
                border-radius: 10px;
                padding: 4px;
                margin-top: 90px;
                height: 29%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 0.2em;
            }
        }

        /*  Tablet eg apple Ipad 2-3, mini --------- */

        @media screen and (min-width: 768px) and (orientation: portrait) {
            #trouveSpot div {
                position: absolute;
                top: 20%;
                left: 48%;
                transform: translate(-50%, -50%);
                color: white;
                text-align: center;
                background: rgba(66, 99, 119, 0.38);
                border-radius: 10px;
                padding: 4px;
                margin-top: 90px;
                height: 27%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 0.2em;
            }
            .h1, h1 {
                font-size: 3.5rem;
            }
            #macarte {
                height: 850px;
                margin: 42px 50px;
                /* padding: 13px; */
            }
        }

        /*  Tablet eg apple Ipad 2-3, mini landsacpe--------- */

        @media screen and (min-width: 1024px) and (orientation: landscape) {
            nav * {
                font-size: 1.1rem;
                margin: 5px 20px 5px 20px;
                padding: 4px;
            }
            #trouveSpot div {
                position: absolute;
                top: 17%;
                left: 48%;
                transform: translate(-50%, -50%);
                color: white;
                text-align: center;
                background: rgba(66, 99, 119, 0.38);
                border-radius: 10px;
                padding: 4px;
                margin-top: 90px;
                height: 29%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 0.2em;
                width: 68vh;
            }
        }

        /* widescreen landscape------------ */

        @media screen and (min-width: 1280px) and (orientation: landscape) {}

        /* widescreen ------------ */

        @media screen and (min-width: 800px) and (orientation: portrait) {
            #trouveSpot div {
                position: absolute;
                top: 15%;
                left: 48%;
                transform: translate(-50%, -50%);
                color: white;
                text-align: center;
                background: rgba(66, 99, 119, 0.38);
                border-radius: 10px;
                padding: 4px;
                margin-top: 90px;
                height: 20%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 0.2em;
            }
        }

        /* HDTV 1080 lanscape ------------- */

        @media screen and (min-width: 1920px) and (orientation: landscape) {
            #trouveSpot div {
                position: absolute;
                top: 17%;
                left: 48%;
                transform: translate(-50%, -50%);
                color: white;
                text-align: center;
                background: rgba(66, 99, 119, 0.38);
                border-radius: 10px;
                padding: 4px;
                margin-top: 90px;
                height: 29%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 0.2em;
                width: 50vh;
            }
            .h1, h1 {
                font-size: 4.5rem;
            }
        }

        /* HDTV 1080 portrait --------------*/

        @media screen and (min-width: 1080px) and (orientation: portrait) {
            #trouveSpot div {
                position: absolute;
                top: 9%;
                left: 48%;
                transform: translate(-50%, -50%);
                color: white;
                text-align: center;
                background: rgba(66, 99, 119, 0.38);
                border-radius: 10px;
                padding: 4px;
                margin-top: 90px;
                height: 15%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 0.2em;
            }
            nav * {
                font-size: 1.2rem;
                margin: 5px 20px 5px 20px;
                padding: 4px;
            }
        }