* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Kalam", cursive;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  background-color: #317133;
  /*position: relative;
    float: left;*/
  overflow: scroll;
}

section {
  padding: 50px 0px;
}
h1 {
  color: #8c6620;
  margin: 20px 20px;
  text-align: center;
}

h2 {
  color: #8c6620;
  margin: 20px;
  text-align: center;
}

p {
  padding: 2px 10px;
}

@import "~bootstrap/scss/bootstrap";

/*---- philosophie mobile first 1ère Page------------------------------------*/

/* ----- élément de section de navigation  --------------------------------  */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px; /* 20 */
  /* position: absolute; */
  width: 100%;
  font-size: 20px;
  height: 70px;
}

.logo {
  width: auto;
  height: 5.5em; /* ici tu aplique la taille voulue */
  font-size: 0.5em; /* tu change la taille de ton atl */
  margin-top: 15px; /*ici ton margin pour le centrer*/
  margin-left: 20px; /* tout comme celui -ci */
}

nav * {
  color: #ffff;
  /* font-size: 20px; */
  /* height: 50px; */
}

nav input[type="checkbox"],
.nav-list {
  display: none; /* fait dispraitre la case à cocher    */
  /* height: 35px; */
}

nav input[type="checkbox"]:checked + .nav-list {
  /* fait appraitre le menu quand la case est cliqué   */
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 370px;
  background: rgba(20,76,116,0.37);
  width: 100%;
  /* height: 35px; */
  left: 0;
  padding-left: 20px;
  z-index: 1000;
}

nav .nav-list li {
  margin: 4px 2px;
  text-align: left;
  padding: 2px;
  font-size: 20px;
}

nav .nav-list li a:link {
  text-decoration: none;
}
/* rajout de la partie menu déroulant https://fr.w3docs.com/snippets/css/comment-creer-un-menu-de-navigation-deroulant-avec-css.html */
/* nav { 
  text-align: center;
}
.nav-list {
  display: inline-block;
}
.nav-list > li {
  float: left;
  color: #e298e1;
  width: 140px;
  height: 40px;
  line-height: 40px;
  background-color : rgba(62, 101, 255, 0.157);
  cursor: pointer;
  font-size: 17px;
}
.sub-menu {
  transform: scale(0);
  transform-origin: top center;
  transition: all 300ms ease-in-out;
}
.sub-menu li {
  font-size: 14px;
  background: rgba(0, 0, 0, 0.8);
  padding: 8px 0;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transform: scale(0);
  transform-origin: top center;
  transition: all 300ms ease-in-out;
}
.sub-menu li:last-child {
  border-bottom: 0;
}
.sub-menu li:hover {
  background: black;
}
.nav-list > li:hover .sub-menu li {
  transform: scale(1);
}
.nav-list > li:hover .sub-menu {
  transform: scale(1);
} */


/*---------------------------------Philosophie mobile first - mobile home section - 1ère Page--------------------------*/

.home-titre {
  height: 60vh;
  width: 100%;
  background-image: url("../img/climbing-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-titre div {
  position: absolute;
  margin-top: 20px;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  background: #9bd9f294;
  border-radius: 10px;
  padding: 4px;
}

table .table {
  width: 50%;
}
/* #img-div{
    min-height: 100vh;
 } */


.accueil_concours {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.concours > a {
  color: rgba(143, 108, 224, 0.561);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 20px 20px 20px;
  padding: 10px 10px;
  text-align: center;
}
#concours article {
  padding: 4px;
  display: flex;
  flex-wrap: wrap;
}
#concours {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.card {
  padding: 8px;
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.text-div {
  width: 95%;
  padding: 10px;
}

.container_presentation{
  /* border: 1px solid black; */
  background: #859daf;
}

/*-------- philosophie mobile first - 2ième Page - Rechercher un site----------*/


.tableA {
  width: 100% !important;
  color: mediumblue;
  display: block;
  overflow: scroll;
}

#trouveSpot div {
  position: absolute;
  top: 25%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  background: #9bd9f294;
  border-radius: 10px;
  padding: 4px;
}

#trouveSpot {
  height: 60vh;
  width: 100%;
  background-image: url("../img/escalade2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* titre haut de page  */

.lieu fieldset {
  /* champ du formulaire  */
  width: 100%;
  border: none;
  font-size: 15px;
  /* margin-top: 10px; */
  padding: 10px;
}

legend {
  /* champ du formulaire  */
  color: rgb(17, 26, 128);
  background-color: rgba(76, 163, 29, 0.826);
  font-size: 15px;
  border: 1px solid rgb(223, 127, 207);
  box-shadow: 5px 5px 5px burlywood;
  border-radius: 20px;
  width: 200px;
  padding: 6px;
  text-align: left;
}

#form .lieu {
  min-height: 100vh;
  width: 100%;
}
.container2 {
  /* formulaire page2  */
  display: grid;
  grid-template-columns: 1fr;
  /* grid-gap: 10px; */
  text-align: left;
  width: 10%;
}
div #map {
  /* carte  */
  /* margin: 20px;
  padding: 20px; */
  width: auto;
  height: 600px;
}

#période {
  /* partie de la période   */
  display: grid;
  grid-template-columns: 100px 100px 100px;
}
.colonne1 {
  grid-column: 1; /* placement en colonne 1 */
}
.colonne2 {
  grid-column: 2; /* placement en colonne 2 */
}
.colonne3 {
  grid-column: 3; /* placement en colonne 2 */
}



/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}


/* ---------------------------------------- 3ième page - Ajout Site -------------------------*/

/* titre haut de page  */

#AjoutSite {
  height: 60vh;
  width: 100%;
}

#AjoutSite div {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  background: #9bd9f294;
  border-radius: 10px;
  padding: 4px;
}
#AjoutSite {
  height: 60vh;
  width: 100%;
  background-image: url("../img/stunning-shot-of-young-man-climbing-up-cliff-on-cold-and-foggy-day.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#AjoutSite div h2 {
  color: rgba(9, 29, 209, 0.705);
}

.container3 h2 {
  background-color: rgb(182, 180, 180);
  border: 1px solid rgb(223, 222, 222);
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
  padding: 10px;
  border-radius: 20px;
  width: 70%;
}

.ajoutesite {
  /* mise en place du formulaire  */
  display: grid;
  grid-gap: 4px;
  gap: 4px;
  margin-top: 90px;
}
/*- titre 3ième page -*/
/* #ajoutesite {   
   color: blueviolet;
   border: 1px solid blueviolet;
   width: 67%;
   position: relative;
   display: flex;
   justify-content: space-around;
   align-items: left;
   margin-top: 80px;
   padding: 5px;
   border-radius: 10px;
} */

form .exposition {
  /* partie formulaire sur l'exposition  */
  /* display: flex;
    width: 100%vh;
    Flex-direction: row; 
    justify-content: space-around; */
  display: grid;
  justify-content: center;
  grid-template-columns: 8px 290px;
  width: 97%;
}
form #exposition {
  /* partie formulaire sur l'exposition  */
  display: grid;
  justify-content: center;
  align-items: flex-start;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: -10px;
  margin-left: 100px;
  width: 60%;
}
form .nomduSite {
  display: flex;
  justify-content: space-around;
  margin-left: -30px;
}
form .ville {
  display: flex;
  justify-content: space-around;
  margin-left: -10px;
}
form .village {
  display: flex;
  justify-content: space-around;
  margin-left: -10px;
}
#email {
  margin: 3px;
  padding: 3px;
}
#submit {
  margin: 3px;
  padding: 3px;
}
#site {
  width: 80%;
  margin: 20px 20px;
}
#form_new_site {
  /* text-align: center; */
  display: block;
}


/* ------------------- 4ième page -Topo ------------------------------------------------*/

.tableTopos {
  width: 100% !important;
  color: mediumblue;
  display: block;
  overflow: scroll;
}
#topoIndex {
  height: 60vh;
  width: 100%;
}

#topoIndex div {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  background: #9bd9f294;
  border-radius: 10px;
  padding: 4px;
}
#topoIndex {
  height: 60vh;
  width: 100%;
  background-image: url("../img/beautiful-view-of-avalanche-peak-arthur-s-pass-new-zealand.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
a{	
	text-decoration: none;
}
/** tabs **/
.tab-container{
	width:100%;
	position: relative;
	margin: 20px 0;
  border: 2px solid black;
}
.tab-container .onglets{
	background-color: rgba(100,161,157,0.5);
	display: flex;
	height: 30px;
	line-height: 30px;
  border:2px solid black;
}
.onglets{
	background-color: rgba(100,161,157,0.5);
	display: flex;
	height: 30px;
	line-height: 30px;
  border:2px solid black;
}
.tab-container .onglets a{
	flex:1;
	border: 1px solid rgba(100,161,157,1);
	border-bottom: none;
	color: #64a19d;
	text-align: center;
}
.tab-container .panel{
	padding:10px;
	background-color: #426377;
	position: relative;
	border: 1px solid rgba(100,161,157,1);
}
.tab-container .onglets a.actif{
	background-color: rgba(100,161,157,1);
	color:#fff;
}
.tab-container .onglets a{
  border: 2px solid black;
  background-color: grey;
  /* width: 33%; */
  height: 50px;
  word-wrap: break-word;
  text-align: center;
  font-size: 0.8em;
}
.tab-container .panel img{
  max-width: 94%; 
  justify-content: center;
  margin:auto;
  padding: 10px;
}


/* ------------------------- 5ième page -Converter --------------------------------------*/

#converter {
  height: 60vh;
  width: 100%;
  /* background-image: url("../img/Rclimbing.jpg"); */
  background-image: url("https://www.alpiniste.fr/out/pictures/wysiwigpro/kalkulatoren/img-fr/vtt-single-track.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#converter div {
  position: absolute;
  margin-top: 20px;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  background: #9bd9f294;
  border-radius: 10px;
  padding: 4px;
}
.color--highlight {
  color: var(--color-highlight);
  font-weight: 700;
}

.container_converter {
  background-color: #859daf;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top : 0px;
}

.title {
  margin-bottom: 1em;
}

.section--converter {
  display: grid;
  grid-template-columns: 1fr 40px 1fr;
  grid-gap: 2em;
}

.col {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column
}

.col--center {
  align-items: center;
  font-size: 4em;
  font-weight: 700;
  color: var(--color-highlight);
}

.input__container--margin {
  margin-bottom: 1em;
}

.input__label {
  display: inline-block;
  text-align: right;
  border-right: 1em;
  width: 70px;
}

.input__select {
  position: relative;
  width: 150px;
  vertical-align: middle;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 2px;
  padding: 4px 8px;
  background: url('./images/menu-down.svg') 96% / 15% no-repeat ;
}


@media screen and (max-width: 540px) {
  .title {
      text-align: center;
  }

  .section--converter {
      grid-template-columns: 1fr;
  }

  .col--center {
      height: 20px;
  }
}


/* ------------------------- 6ième page -Contact --------------------------------------*/

#form {
  color: lightcoral;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px 30px;
}
#contact_message {
  width: 50%;
}
#contact div {
  position: absolute;
  top: 30%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  background: #9bd9f294;
  border-radius: 10px;
  padding: 4px;
}

#contact {
  height: 60vh;
  width: 100%;
  background-image: url("../img/silhouette-of-group-people-have-fun-at-the-top-of-the-mountain-near-the-tent-during-the-sunset.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#form {
  /* border: 1px solid black; */
}

/* ------------------------- 7ième page - Template du site --------------------------------------*/


.siteTemplate div {
  position: absolute;
  top: 25%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  background: #9bd9f294;
  border-radius: 10px;
  padding: 4px;
}

.siteTemplate {
  height: 60vh;
  width: 100%;
  background-image: url("../img/climbA.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*--------------philosophie mobile first------------------------*/

/* ----------mobile gallery-section --------------*/

#gallery-section .container {
  column-count: 1;
}

#gallery-section .box {
  min-height: 100px;
  min-width: 100px;
}

#gallery-section .box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* -----------------Admin Section -----------------------*/

/*--------section Footer ---------- */

footer {
  text-align: center;
  color: white;
  background: rgba(3, 3, 107, 0.815);
  padding: 1.1rem;
  margin-bottom: 0;
  margin-top: 90vh;
  /* width: 100vh; */
}

/*-------------------------------------------------------------------------*/
/*-----------------------------RESPONSIVE----------------------------------*/
/*-------------------------------------------------------------------------*/
/* lorsqu'on va arriver à une largeur min de 768px reférence pour les tablette, je vais modifier des choses */

/* -------tablette welcome section------- */
@media screen and (min-width: 768px) {
  #home-section3 {
    background-position-y: top;
  }
  h2 {
    font-size: 2rem;
  }

  /* -------tablette home section------- */

  .card {
    padding: 8px;
    width: 30%;
    margin-left: 60px;
  }
  .card img {
    width: 250px;
    height: 230px;
  }
  #description-section .container {
    margin: 30px;
  }
  #description-section .container .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #description-section .container .card .text-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #description-section .card1 {
    grid-template-areas: "text-div img-div";
  }
  #description-section .card1 .text-div {
    grid-area: text-div;
  }
  #description-section .card1 .img-div {
    grid-area: img-div;
  }

  /* -------tablette about me section------- */

  #about-me-section .card {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  #about-me-section .card .text-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  /* -------tablette gallery section------- */

  #gallery-section .container {
    column-count: 2;
    gap: 0;
  }

  /* -------tablette contact section------- */
  #contact-section .form-div {
    margin: 0px 80px;
  }
}

/*--------- laptop------------ */

@media screen and (min-width: 1024px) {
  nav {
    position: fixed;
    z-index: 1000;
    background: rgba(20,76,116,0.37);
    text-align: center;
  }
  nav * {
    font-size: 1rem;
    margin: 5px 20px 5px 20px;
    padding: 4px;
  }
  nav label {
    display: none;
  }
  nav .nav-list {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
  }
  nav .nav-list a {
    transition: 1s;
  }
  nav .nav-list a:hover {
    margin-left: 8px;
    transition: 1s;
  }

  /*------- laptop description section */
  #description-section .container {
    padding: 150px;
  }

  /*------- laptop gallery section */
  #gallery-section .container {
    padding: 15px;
    display: grid;
    grid-template:
      "1fr 1fr 1fr 1fr 1fr" 33.33vh
      "1fr 1fr 1fr 1fr 1fr" 33.33vh
      "1fr 1fr 1fr 1fr 1fr" 33.33vh;
  }
  #gallery-section .box {
    transition: 1s;
  }
  #gallery-section .box:hover {
    transform: scale(1.05);
    transition: 1s;
    color: #2e6ea6;
  }
  .box_b,
  .box_f,
  .box_h {
    grid-column: span 2;
  }
  .box_a,
  .box_g {
    grid-row: span 2;
  }
  /*------- laptop review section */
  #review-section .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
