* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    --color-background: rgba(235, 235, 235, 1);
    --color-text: rgba(90, 90, 90, 1);
    --color-text-light: rgba(90,90, 90, .5);
    --color-highlight: rgba(223, 135, 135, 1);
    color: var(--color-text);
}

.color--highlight {
    color: var(--color-highlight);
    font-weight: 700;
}

.container {
    background-color: var(--color-background);
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    margin-bottom: 1em;
}

.section--converter {
    display: grid;
    grid-template-columns: 1fr 40px 1fr;
    grid-gap: 2em;
}

.col {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column
}

.col--center {
    align-items: center;
    font-size: 4em;
    font-weight: 700;
    color: var(--color-highlight);
}

.input__container--margin {
    margin-bottom: 1em;
}

.input__label {
    display: inline-block;
    text-align: right;
    border-right: 1em;
    width: 70px;
}

.input__select {
    position: relative;
    width: 120px;
    vertical-align: middle;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 2px;
    padding: 4px 8px;
    background: url('./images/menu-down.svg') 96% / 15% no-repeat ;
}

.github {
    position: absolute;
    bottom: 1em;
    right: 1em;
    opacity: .15;
    transition: opacity .25s ease-in-out;
}

.github:hover {
    opacity: .5;
}

.github__logo {
    height: 2em;
}

@media screen and (max-width: 540px) {
    .title {
        text-align: center;
    }

    .section--converter {
        grid-template-columns: 1fr;
    }

    .col--center {
        height: 20px;
    }
}