{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    
    <section id="trouveSpot-section1">
        <div
            <h1>Admin Side</h1>
        </div>
    </section>

    

<div class="example-wrapper">

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/Diego/Dropbox/Mon PC (DESKTOP-HPQ395F)/Documents/ProjetEscalade4/ProjetEscalade4/src/Controller/AdminController.php'|file_link(0) }}">src/Controller/AdminController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/Diego/Dropbox/Mon PC (DESKTOP-HPQ395F)/Documents/ProjetEscalade4/ProjetEscalade4/templates/admin/index.html.twig'|file_link(0) }}">templates/admin/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
