{% extends 'base.html.twig' %}

{% block title %}Region{% endblock %}

{% block body %}
    <h1>Region</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ region.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('region_index') }}">back to list</a>

    <a href="{{ path('region_edit', {'id': region.id}) }}">edit</a>

    {{ include('region/_delete_form.html.twig') }}
{% endblock %}
