{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
<section id="registration">
    <div>
        <h2>Formulaire d'enregistrement</h2>
    </div>
</section>
{% form_theme form 'bootstrap_4_layout.html.twig' %}

<section>

    <div class="container">
        {{ include('user/_form.html.twig') }}
    </div>

</section>

<div class="boutonR"><a href="{{ path('user_index') }}">Retour à la liste</a></div>
{% endblock %}
